@import "bootstrap/scss/variables";

// typography
.text-sm {
    font-size: .7rem;
}

// button
.btn {
    &.btn-orange {
        background-color: $orange-400;
    }
}

// list
.text-dark {
    &:hover {
        background-color: $gray-300;
    }
}

// general
.cursor {
    cursor: pointer;
}